body{

	background-color: black;	
}

header{
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.nytlogo {
	
	background-color: black;

}

.menu{
	padding: 70px;
}


#piccontainer {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.pic {
	position:relative;
	background-size: cover;
	background-position: center;
	color: white;
	font-size: 15px;
	text-align: left;
    width: 25%;
    min-width: 150px;
    height: 300px;
   }

.pic > div {
	position:absolute;
	bottom:0;
	background: rgba(0, 0, 0, .5);
	padding: 0.5em;
}

footer{
	color: white;
	padding: 10px;
}



#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	color:blue;
	padding: 50px;
	width: 100%;

}

#div{

	padding-right: 60px;
}

.article{
	
	height: 180px;
	width: 23%;
	/*max-width: 500px;
	max-height: 1000px;*/
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1%;
	
}

/*p{

	text-align: left;
	padding: 5px 5px 5px 10px;
	background:rgba(0,0,0,0.5);
	border-top: 10px;
	color:grey;
	
	
    
}*/

a.link{

	text-align: left;
	padding: 5px 5px 5px 10px;
	background:rgba(0,0,0,0.5);
	border-top: 10px;
	color:grey;
	text-decoration: none;
	display: block;
	position:relative;
	top:3%;
}

@media only screen and (max-width: 600px){

#main {
		  flex-direction: column;
		  width: 100%;
	     } 
.article {

	      width: 100%;
}
}