body{

	background-color: black;	
}

header{
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.nytlogo {
	
	background-color: black;

}

.menu{
	padding: 70px;
}

.pic1 {
	background-image: url("https://static01.nyt.com/images/2017/07/25/world/24USBriefing-Poland/24USBriefing-Poland-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
   }

.pic2 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/nyregion/24NYTODAY1/24NYTODAY1-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.pic3 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/us/24California-Today-usc2/24California-Today-usc2-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.pic4 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/us/24SANCTIONS1/24SANCTIONS1-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.piccontainer {

	display: flex;
	flex-direction: row;

}

.pic5 {
	background-image: url("https://static01.nyt.com/images/2017/07/25/world/24USBriefing-Poland/24USBriefing-Poland-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
   }

.pic6 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/nyregion/24NYTODAY1/24NYTODAY1-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.pic7 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/us/24California-Today-usc2/24California-Today-usc2-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.pic8{
	background-image: url("https://static01.nyt.com/images/2017/07/24/us/24SANCTIONS1/24SANCTIONS1-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.piccontainer1 {

	display: flex;
	flex-direction: row;

}

.pic9 {
	background-image: url("https://static01.nyt.com/images/2017/07/25/world/24USBriefing-Poland/24USBriefing-Poland-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
   }

.pic10 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/nyregion/24NYTODAY1/24NYTODAY1-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.pic11 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/us/24California-Today-usc2/24California-Today-usc2-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.pic12 {
	background-image: url("https://static01.nyt.com/images/2017/07/24/us/24SANCTIONS1/24SANCTIONS1-superJumbo.jpg");
	background-size: 400px 400px;
	color: white;
	font-size: 15px;
	text-align: left;
	padding-top: 300px;
    width: 400px;
    height: 100px;
}

.piccontainer2 {

	display: flex;
	flex-direction: row;

}

footer{
	color: white;
}

@media only screen and (min-width: 300px){

	.pic1 .pic2 .pic3 .pic4 .pic5 .pic6 .pic7 .pic8 .pic9 .pic10 .pic11 .pic {
		display: flex;
		flex-direction: column;
	} 
}
