body{

	background-color: black;	
}

header{
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.nytlogo {
	
	background-color: black;

}

.menu{
	padding: 70px;
}


#piccontainer {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.pic {
	position:relative;
	background-size: cover;
	background-position: center;
	color: white;
	font-size: 15px;
	text-align: left;
    width: 25%;
    min-width: 150px;
    height: 300px;
   }

.pic > div {
	position:absolute;
	bottom:0;
	background: rgba(0, 0, 0, .5);
	padding: 0.5em;
}

footer{
	color: white;
	padding: 10px;
}

@media only screen and (max-width: 400px){

	#piccontainer {
		display: flex;
		flex-direction: column;
	} 
}
